* {
    /* Manual opacity: @background + CC (80% opacity) */
    background:     #1f1f25CC;
    background-alt: #2a292fCC;
    foreground:     #e4e1e9;
    selected:       #404178;
    on-selected:    #e1dfff;
}



