/* wofi.css template */
window {
    margin: 0px;
    border: 2px solid #b2c5ff;
    background-color: #121318;
    width: 300px;  /* Adjust this value to your preference */
    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 14px;
}

#input {
    margin: 5px;
    border: none;
    color: #e3e2e9;
    background-color: #45464f;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #121318;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #9ba2bc;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e3e2e9;
}

#entry:selected {
    background-color: #b2c5ff;
}

#text:selected {
    color: #182e60;
}
